* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color:white;
    font-family: 'Raleway', sans-serif;
}
#header .navbar {
    width: 100%;
    opacity: 0.8;
}
img {
    width: 120px;
}
.footer-text {
    background-color: black;
    color: white;
    text-align: center;
}
.nav-item a {
    color: black;
    font-size: 18px;
}
.hover:hover {
    border-radius: 2em;
    background-color: red;
    color: white;
}
.img-header {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../imgen/imagen4.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.img-header .bienvenidos {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.img-header .bienvenidos h1 {
    font-size: 50px;
    color: white;
    font-weight: 200;
}
.img-header .bienvenidos hr {
    width: 400px;
    height: 2px;
    background: white;
    border: none;
    margin-top: 5px;
}
.img-header .bienvenidos p {
    font-size: 20px;
    color: white;
    margin-top: 20px;
}
.img-header .bienvenidos .btn:hover {
    background-color: lightblue;
    border:none;
    color: white;
}
#acerca-de {
    width: 100%;
    margin-top: 120px;
}
#acerca-de .info-container {
    width: 80%;
    margin: auto;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
#acerca-de .info-container h1 {
    font-size: 50px;
    font-weight: 400;
    color: black;
    text-align: center;
    margin-bottom: 20px;
}
#acerca-de .info-container p {
    text-align: center;
    font-size: 17px;
    color: black;
    line-height: 35px;
    margin: 10 0;
}
#acerca-de .info-container .about-gallery {
    width: 100%;
    display: flex;
    margin: 50px 0;
}
#acerca-de .info-container .about-gallery img {
    width: 25%;
    height: 200px;
    margin: 10px;
    border: 2px solid lightslategray;
    border-radius: 1rem;
    cursor: pointer;
}
#acerca-de .info-container .boton {
    width: 100%;
    text-align: center;
}
#acerca-de .info-container .boton .btn:hover {
    border: none;
    background: lightblue;
}
#preparacion {
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../imgen/imagen1.jpg);
    background-attachment: fixed;
    background-size: cover;
    margin-top: 100px;
}
#preparacion .deg-background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8) ;
}
#preparacion .ejeZproyect {
    position: relative;
    width: 100%;
    height: 100%;
}
#preparacion .ejeZproyect .container-preparacion {
    width: 90%;
    margin: auto;
    padding-top: 100px;
}
#preparacion .container-preparacion .container-title {
    text-align: center;
    padding: 10px;
    border: 2px solid #fff;
    width: 50%;
    margin: auto;
}
#preparacion .container-preparacion .container-title h2 {
    font-size: 40px;
    color: white;
    font-weight: normal;
}
#preparacion .container-preparacion .container-title hr {
    background-color: white;
    width: 50%;
    margin: 10px auto;
}
#preparacion .card-preparacion {
    width: 90%;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 20px;
}
#preparacion .card-preparacion .preparado {
    border-radius: 1em;
    margin: 20px 30px;
    text-align: center;
    min-height: 348px;
    color: white;
}
#testimonios .card {
    margin: 10px auto;
}
.testimonio-title {
    width: 100%;
    text-align: center;
    margin: 50px 0;
}